In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [60]:
class ExpenseCalculator():

    def expense_calculator(self,total_rent,deposit_in,deposit_out,utilities,n_people=2,months=12):
        start_date = datetime(2023, 6, 1)
        date,total_expenses = [],[]
        data = {'Date':[],'Total Expenses':[]}
        # loop 12 times to increment the date by one month in each iteration
        for i in range(months):
            # increment the date by one month
            if i == 0:
                total_expenses.append(sum((deposit_in,deposit_out,total_rent,utilities)))
                date.append(start_date)
            else:
                total_expenses.append(sum((total_rent,utilities)))
                end_date = start_date + relativedelta(months=1)
                date.append(end_date)
            
                # set the start_date to end_date for the next iteration
                start_date = end_date
        # add info to the dic    
        data['Date'],data['Total Expenses'],data['Expense per person'] = date,total_expenses,np.array(total_expenses)/n_people

        return pd.DataFrame(data)
        
    # rent = 7000
    # expense_calculator(total_rent=rent,deposit_in=rent*5,deposit_out=0,utilities=300,n_people=2,months=12)        


    def comparison(self,rent,months=40,explanations=True):
        # create the dics
        øb_sofus = {'Rent':15000,'Deposit in':0,'Deposit out':0,'Utilities':300,'Number people':3}
        øb = {'Rent':15000,'Deposit in':0,'Deposit out':0,'Utilities':300,'Number people':2}
        new_place = {'Rent':rent,'Deposit in':rent*5,'Deposit out':0,'Utilities':300,'Number people':2}
        # create the dfs
        df = lambda i:self.expense_calculator(total_rent=i['Rent'],deposit_in=i['Deposit in'],deposit_out=i['Deposit out'],utilities=300,n_people=i['Number people'],months=months)        
        øb_sofus_df = df(øb_sofus)
        øb_df = df(øb)
        new_place_df = df(new_place)

        total_expense = lambda i:np.sum(np.array(list(i['Expense per person'])))
        
        if explanations:
            print('New place: {}DKK \tØrestads Boulevard: {}DKK'.format(total_expense(new_place_df),total_expense(øb_sofus_df)))
            print(True)

        if total_expense(new_place_df) < total_expense(øb_sofus_df):    
            return pd.concat([new_place_df,øb_sofus_df.drop(['Date'],axis=1)],axis=1),True
        else:
            return pd.concat([new_place_df,øb_sofus_df.drop(['Date'],axis=1)],axis=1),False



ec = ExpenseCalculator()

# df,mes = ec.comparison(rent=7000,months=40,explanations=False)

for i in range(40):
    rent = 6000
    df,mes = ec.comparison(rent=rent,months=i,explanations=False)
    if mes == True:
        df,mes = ec.comparison(rent=rent,months=i,explanations=True)
        display(df)
        worth = len(list(df.index))
        print('It will start being worth the investment after {} months'.format(worth))
        break

New place: 40200.0DKK 	Ørestads Boulevard: 40800.0DKK
True

,Date,Total Expenses,Expense per person,Total Expenses,Expense per person
0,2023-06-01,36300,18150.0,15300,5100.0
1,2023-07-01,6300,3150.0,15300,5100.0
2,2023-08-01,6300,3150.0,15300,5100.0
3,2023-09-01,6300,3150.0,15300,5100.0
4,2023-10-01,6300,3150.0,15300,5100.0
5,2023-11-01,6300,3150.0,15300,5100.0
6,2023-12-01,6300,3150.0,15300,5100.0
7,2024-01-01,6300,3150.0,15300,5100.0

It will start being worth the investment after 8 months